.resultContainer {
  box-shadow: 0 0 0px 10px #FFFFFF inset;
  padding: 20px 20px 40px;
}

.imgContainer {
  max-width: 300px;
  margin: 20px auto;
  text-align: center;
}

.imgContainer .image {
  width: 100%;
  margin-bottom: 15px;
}
