.facebookButton {
  position: relative;
  padding: 15px 20px 15px 60px;
  border: 2px solid #3d518b;
  border-radius: 6px;
  background-clip: padding-box;
  background-color: #ebedf5;
  background-image: linear-gradient(to top,#3f599d 0%,#4f67a7 100%);
  color: #fff;
  text-shadow: 0 -2px 0 #425993;
  display: inline-block;
  font-weight: bold;
  font-size: 18px;
  word-wrap: break-word;
  white-space: normal;
  text-decoration: none!important;
  cursor: pointer;
}

.facebookButton:hover {
  cursor: pointer;
  background-image: linear-gradient(to top,#415ea6 0%,#5774bc 100%);
}

.fbImage {
  width: 30px;
  height: 32px;
  position: absolute;
  top: 11px;
  left: 17px;
}

.buttonText {
  color: #fff;
  text-align: center;
  text-shadow: 0 -2px 0 #425993;
}
