.quizContainer {
  background-color: #ffcf56!important;
  box-shadow: 0 0 0px 10px #FFFFFF inset;
  padding: 20px 20px 40px;
}

.imgContainer {
  max-width: 300px;
  margin: 20px auto;
}

p.preWording {
  font-size: 21px;
}

@media (max-width: 767px) {
  p.preWording {
    font-size: 16px!important;
  }
}
